@page
@model Aplicatie_web.Pages.Prajituri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prajitura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prajitura.Denumire" class="control-label"></label>
                <input asp-for="Prajitura.Denumire" class="form-control" />
                <span asp-validation-for="Prajitura.Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.Cofetar" class="control-label"></label>
                <input asp-for="Prajitura.Cofetar" class="form-control" />
                <span asp-validation-for="Prajitura.Cofetar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.Pret" class="control-label"></label>
                <input asp-for="Prajitura.Pret" class="form-control" />
                <span asp-validation-for="Prajitura.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prajitura.DataPrepararii" class="control-label"></label>
                <input asp-for="Prajitura.DataPrepararii" class="form-control" />
                <span asp-validation-for="Prajitura.DataPrepararii" class="textdanger"></span>
            </div>
            <label asp-for="Prajitura.ClientID" class="control-label">Nume Client</label>
            <select asp-for="Prajitura.ClientID" class="form-control" asp-items="ViewBag.ClientID">
            </select>
            <span asp-validation-for="Prajitura.ClientID" class="text-danger"></span>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCourses"
                                               value="@cat.CategorieID"
                                               @(Html.Raw(cat.Atribuire ? "checked=\"checked\"" : "")) />
                                        @cat.CategorieID @: @cat.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
